body {
  /* background-image: url("../images/officeBg.jpg"); */
  background: #fafaff;
  text-align: center;
}

#header {
  border-bottom: 1px solid #000000;
  padding: 8px;
}

h1 {
}

.answer-choice {}

.answer-choice:hover {
  background: #cccccc;
}

.your-class {
  text-align: center;
}

.question {
  font-size:40px;
}
.aSlide {
  margin-top:8px;
}

#start-button {
  
}
.slick-slider {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#timer {
  margin-top:30px;
}

#dialogue-box {

}

